<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DentistInformationController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.DentistInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.ServiceDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsDetailController</servlet-name>
        <url-pattern>/NewsDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail1Controller</servlet-name>
        <url-pattern>/NewsDetail1Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail2Controller</servlet-name>
        <url-pattern>/NewsDetail2Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail3Controller</servlet-name>
        <url-pattern>/NewsDetail3Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/NewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail4Controller</servlet-name>
        <url-pattern>/NewsDetail4Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DentistInformationController</servlet-name>
        <url-pattern>/DentistInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/ServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailController</servlet-name>
        <url-pattern>/ServiceDetailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetailController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.NewsDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetail1Controller</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.NewsDetail1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetail2Controller</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.NewsDetail2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetail3Controller</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.NewsDetail3Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetail4Controller</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.NewsDetail4Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.ErrorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.VerifyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AboutUsController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.AboutUsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutUsController</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>com.khl.gentledentalcare.controllers.EditProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/edit-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail1Controller</servlet-name>
        <url-pattern>/NewsDetail1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail2Controller</servlet-name>
        <url-pattern>/NewsDetail2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail3Controller</servlet-name>
        <url-pattern>/NewsDetail3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail4Controller</servlet-name>
        <url-pattern>/NewsDetail4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetailController</servlet-name>
        <url-pattern>/NewsDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DentistInformationController</servlet-name>
        <url-pattern>/DentistInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailController</servlet-name>
        <url-pattern>/ServiceDetail</url-pattern>
    </servlet-mapping>
</web-app>
