<div class="upload-popup">
    <div class="upload-wrapper">
        <header>Image Upload</header>
        <form action="#" id="upload-form">
            <input type="file" class="file-input" hidden name="imageAvatar">
            <i class="uil uil-image-upload"></i>
            <p>Browse Image to Upload</p>
        </form>
        <section class="uploaded-area"></section>
        <div class="upload-buttons">
            <button class="button-change">Change</button>
            <button class="button-cancel">Cancel</button>
        </div>
    </div>
</div>