#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: var(--light);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3s ease;
    z-index: 200;
}

#sidebar.hide {
    max-width: 60px;
}

#sidebar.hide:hover {
    max-width: 260px;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar .brand {
    font-size: 19px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--light);
    transition: all .3s ease;
    padding: 15px 10px 0 10px;
}

#sidebar .brand img {
    width: 22%;
    padding-right: 10px;
}

#sidebar.hide .brand img {
    width: 125%;
}

#sidebar.hide:hover .brand img {
    width: 22%;
}

#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    font-size: 20px;
}

#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
    transition: all .3s ease;
}

#sidebar.hide .side-menu {
    padding: 0 6px;
}

#sidebar.hide:hover .side-menu {
    padding: 0 20px;
}

#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: var(--dark);
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
}

#sidebar .side-menu>li>a:hover {
    background: var(--grey);
}

#sidebar .side-menu>li>a.active .icon-right {
    transform: rotateZ(90deg);
}

#sidebar .side-menu>li>a.active,
#sidebar .side-menu>li>a.active:hover {
    background: var(--blue);
    color: var(--light);
}