@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none !important;
}


/************************************ HEADER *********************************************/

header {
    height: 100vh;
    width: 100%;
    background: url("images/background.png") no-repeat;
    background-position: center;
}

::selection {
    background: #a3f5ec;
}

header nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 12;
}

.navbar {
    width: 90%;
    display: flex;
    margin: 20px auto 0 auto;
    align-items: center;
    justify-content: space-between;
}

header nav .logo {
    height: 80px;
}

header nav .header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

nav .menu {
    display: flex;
}

nav .menu li {
    list-style: none;
    margin: 0 10px;
}

nav .menu a {
    color: #2c3e50;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: all .5s;
}


/* BUTTON VIER */
header .menu .nav-item.active a{
    color: rgb(113, 23, 234);
}
header .menu .nav-item.active::after{
    content: " ";
    width: 100%;
    height: 3px;
    background: rgb(113, 23, 234);
    display: block;
    transition: all .5s;
}

header .menu .nav-item::after{
    content: " ";
    width: 0;
    height: 3px;
    background: rgb(113, 23, 234);
    display: block;
    transition: all .5s;
}

header .menu .nav-item:hover::after{
    width: 100%;
}

header .menu .nav-item:hover a{
    color: rgb(113, 23, 234);
}

nav .search-box {
    position: relative;
    height: 40px;
    width: 250px;
}

.search-box input[type="text"] {
    position: absolute;
    font-size: 18px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    outline: none;
    color: #2c3350;
    border: 2px solid #2c3350;
    background: #f2f2f2;
    padding: 0 10px 0 40px;
}

.search-box a {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 20px;
    color: #2c3350;
    transform: translateY(-50%);
    border-right: 2px solid #2c3350;
    padding: 0 5px 0 0;
}

.text-content {
    position: absolute;
    top: 33%;
    left: 7%;
    z-index: 12;
}

header .text-content .text {
    font-size: 27px;
    color: #2c3350;
}

header .text-content .name {
    color: #2c3350;
    font-size: 75px;
    font-weight: 600;
    margin: -20px 0 0 -3px;
}

header .text-content .job {
    color: #2c3350;
    font-size: 40px;
    margin: 5px 0;
    margin-top: -4px;
    display: flex;
}

.text-content .typing-text {
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #1de2d1;
    animation: typing 5s steps(15) infinite;
}

@keyframes typing {
    0% {
        width: 0ch;
    }

    50% {
        width: 15ch;
    }

    100% {
        width: 0ch;
    }
}

.text-content .job .one {
    color: #1de2d1;
    font-family: 600;
}

.text-content .job .two {
    color: #1de2d1;
    font-family: 600;

}

.buttons {
    margin: 20px 0 0 50px;
}

.buttons button {
    outline: none;
    margin: 0 10px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(135deg, #2AFADF 10%, #C346C2 100%);
}

.buttons button:hover {
    transform: scale(0.97);
}

.content .girl img {
    position: absolute;
    height: 95%;
    bottom: 0;
    right: 0;
    position: absolute;
}

header .media-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
    bottom: 40px;
}

.media-icons a {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.7;
    color: #2c3350;
    transition: all 0.3s ease;
}

.media-icons a:hover {
    opacity: 1;

}

/* login */
header .header__action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header .header__action .header__action-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
header  .header__action .header__action-login .btn-login-link {
    width: 230px;
    height: 58px;
    position: relative;
    display: inline-flex;
    border-radius: 30px;
    background-color: #fcfcfc;
    color: #ffa000;
    text-align: center;
    font-size: 18px;
    transition: all 0.3s;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
    text-decoration: none;
    margin: 0 5px;
    padding: 10px 5px 10px 18px;
    -webkit-box-shadow: 4px 4px 10px -1px rgb(118 183 243);
    -moz-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
    box-shadow: 4px 4px 10px -1px rgb(118 183 243);
  }
  
  .header__action .header__action-login .btn-login-link .btn-icon {
    background-color: #ffa000;
    width: 110px;
    height: 58px;
    float: right;
    position: absolute;
    border-radius: 30px 30px 30px 0;
    right: 0;
    top: 0;
    transition: all 0.3s;
  }
  
  .header__action .header__action-login .btn-login-link .btn-icon::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 58px solid #fcfcfc;
    border-right: 40px solid transparent;
    top: 0;
    left: 0;
  }
  
  .header__action .header__action-login .btn-login-link .name-desc {
    position: relative;
    z-index: 9999;
    font-size: 22px;
    font-weight: 500;
  }
  
  .header__action .header__action-login .btn-login-link:hover .btn-icon {
    width: 100%;
    border-radius: 30px;
  }
  
  .header__action .header__action-login .btn-login-link:hover .btn-icon::after {
    display: none;
    opacity: 0.1;
  }
  
  .header__action .header__action-login .btn-login-link .btn-icon i {
    position: absolute;
    right: 30px;
    top: 15px;
    color: #fff;
    font-size: 25px;
  }
  
  .header__action .header__action-login .btn-login-link:hover {
    color: #fff !important;
  }
  
  .header__action .header__action-login .btn-login-link .login {
    background-color: #8B88CD !important;
  }

  /* avarta */
  header .header__action .header__action-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  header .header__action-user .user-name {
    font-size: 1.3rem;
    color: #9930ad;
  }
  
  header .header__action-user .user-avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 1px #d4d4d4 solid;
    overflow: hidden;
  }
  
  header .user-avatar img {
    width: 100%;
  }
  
  .header__action-user .user-menu {
    position: absolute;
    top: 145px;
    right: 6px;
    padding: 10px 20px;
    width: 200px;
    background: #eeeeee;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 4px 4px 10px -1px rgb(118 183 243);
    -moz-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
    box-shadow: 4px 4px 10px -1px rgb(118 183 243);
  }
  
  .header__action-user .user-menu ul {
    padding-left: 0;
  }
  
  .header__action-user .user-menu.active {
    top: 105px;
    visibility: visible;
    opacity: 1;
  }
  
  .header__action-user .user-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #EEEEEE;
    transform: rotate(45deg);
  }
  
  .header__action-user .user-menu ul li:first-child {
    border-top: none;
  }
  
  .header__action-user .user-menu ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
  }
  
  .header__action-user .user-menu ul li i {
    font-size: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .header__action-user .user-menu ul li:hover i {
    opacity: 1;
  }
  
  .header__action-user .user-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
    font-size: 15px;
  }
  
  .header__action-user .user-menu ul li:hover a {
    color: #30a9f4;
  }

/************************************ END HEADER *********************************************/





/************************************ SUPPORT BUTTON *********************************************/
.support-online {
    position: fixed;
    z-index: 999;
    left: 25px;
    bottom: 40px;
  }
  
  .support-online a {
    position: relative;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .support-online a.support_booking {
    background-color: #4EB625;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .support-online a.support_facebook {
    background-color: #0084ff;
    color: #fff;
    margin-bottom: 14px;
  }
  
  .support-online a span {
    text-align: center;
    background: #2c6ff4;
    padding: 6px 5px 6px 0;
    display: none;
    width: 140px;
    margin-left: 20px;
    position: absolute;
    color: #fff;
    z-index: 999;
    top: 0.3em;
    left: 43px;
    transition: all .2s ease-in-out;
    -moz-animation: headerAnimation .7s 1;
    -webkit-animation: headerAnimation .7s 1;
    -o-animation: headerAnimation .7s 1;
    animation: headerAnimation .7s 1;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  
  .support-online a:hover span {
    display: block;
  }
  
  .support-online a span:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 18px 25px 0;
    border-color: transparent #2c6ff4 transparent transparent;
    position: absolute;
    left: -18px;
    top: 0px;
  }
  
  .support-online .support_phone .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .support-online .support_phone .animated.infinite {
    animation-iteration-count: infinite;
  }
  
  .support-online .support_phone .zoomIn {
    animation-name: zoomInBackgroundPhone;
  }
  
  @keyframes zoomInBackgroundPhone {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3)
    }
  
    50% {
      opacity: 1
    }
  }
  
  .support-online .support_phone .alo-circle {
    width: 60px;
    height: 60px;
    top: -7px;
    left: -7px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, .4);
    border-color: #2c6ff4;
    opacity: .5;
  }
  
  .support-online .support_phone .pulse {
    animation-name: pulse;
  }
  
  .support-online .support_phone .alo-circle-fill {
    width: 65px;
    height: 65px;
    top: -10px;
    left: -10px;
    position: absolute;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #2c6ff4bd;
    opacity: .75;
  }
  
  .support-online a .support_phone-icon {
    background-color: #2c6ff4;
    position: relative;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }
  
  .support-online a .support_phone-icon>svg {
    margin-top: 0.4em;
    -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  
  @keyframes quick-alo-circle-img-anim {
    0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
  
    10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
  
    20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
  
    30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
  
    40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
  
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
  
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
  }
  
  /************************************ END SUPPORT BUTTON *********************************************/





  /************************************ PROFESSIONALS *********************************************/
.professionals .profess__img{
  width: 100%;
  overflow: hidden;
  margin-left: -50px;
  border-radius: 72px;
}

.professionals .profess__img img{
  width: 100%;
  height: 36rem;
  object-fit: cover;
}

.professionals .pro__item{
  padding-top: 4rem;
  width: 41rem;
}

.profess__headline h4{
  font-size: 35px;
  font-weight: 400;
  color: #bc74a5;
}

.profess__headline h1{
  font-size: 55px;
  font-weight: 700;
  color: #104099;
}

.professionals .profess__content .profess__text{
  border-bottom: 1px solid #CCCCCC;
}

.professionals .profess__content p{
  color: #181818;
  line-height: 1.5em;
  line-height: 25px;
  font-size: 14px;
}

.professionals .pro__product .product__title h5{
  font-size: 28px;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #2c3350;
} 

.professionals .pro__product .product__members{
  display: flex;
  gap: 10px;
}

.professionals .pro__product .product__members .item--member{
  width: 13rem;
  height: 7rem;
  background-color: #F5F7FA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.professionals .pro__product .product__members .item--member img{
  width: 100%;
}


@media screen and (max-width: 1320px) {
  .professionals .profess__img{
    margin-left: 0;
    border-radius: 0;
  }

  .professionals .pro__item{
    width: 100%;
  }
}

  /************************************ END PROFESSIONALS *********************************************/
  
  
  
  
  
  
  
  /************************************ END PROFESSIONALS *********************************************/
.doctorTeam{
  margin: 3rem 0;
}

.doctorTeam .doctor__card .card{
  width: 28rem;
  height: 44rem;
  -webkit-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
  -moz-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
  box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
  border: none;
}

.doctorTeam .card-body{
  padding-top: 30px;
  position: relative;
  background-color: #E1E8F0;
}
  
.doctorTeam .card-body h6{
  color: #bc74a5;
  font-size: 18px;
}

.doctorTeam .card-body h2{
  color: #104099;
  font-size: 30px;
  font-weight: 200;
  padding: 10px 0;
}

.doctorTeam .card-body span{
  font-weight: 500;
}

.doctorTeam .card-body p{
  color: #181818;
  font-size: 14px;
}

.doctorTeam .card-social {
  position: absolute;
  bottom: 10px;
}

.card-social .social-link {
  display: inline-block;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  padding-right: 0.5em;
}

.card-social .social-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  width: 40px;
  height: 40px;
}

  
  /************************************ END PROFESSIONALS *********************************************/





  /************************************ EXCELLENCE *********************************************/

.excellence .exce__header .btn--view{
  display: flex;
  justify-content: end;
  align-items: center;
}

.excellence .btn--view button {
  outline: none;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  width: 12rem;
  height: 55px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient(135deg, #2AFADF 10%, #C346C2 100%);
}

.excellence .btn--view button:hover {
  transform: scale(0.97);
}

.excellence .exce__item .card__service{
  position: relative;
  color: #fff;
}

.excellence .exce__item .card{
  width: 100%;
  -webkit-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
  -moz-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
  box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
  border: none;
}

.excellence .exce__item .card img{
  height: 16rem;
  object-fit: cover;
}

.excellence .exce__item .card__service .card-body{
  background-color: rgba(188, 116, 165, 1);
  height: 16rem;
  padding-top: 4rem;
}

.excellence .exce__item .card__service .card-body h5{
  font-size: 26px;
}

.excellence .exce__item .card__service .card-body p{
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 35px;
}

.excellence .exce__item .card__icon{
  position: absolute;
  left: 30px;
  top: 40%;
}

  /************************************ END EXCELLENCE *********************************************/


