.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-settings .user-profile .user-avatar .setting-avatar_photo {
    position: relative;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.account-settings .user-profile .user-avatar .setting-avatar_photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account-settings .user-profile .user-avatar .setting-avatar_photo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.setting-form_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.setting-form_content .setting-form_label {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
}

.setting-form_content .message {
    margin-top: 5px;
    font-size: 16px;
    color: red;
    font-weight: 500;
}

.setting-form_content .setting-form_input {
    display: flex;
    align-items: center;
    position: relative;
}

.setting-form_input i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.setting-form_input input {
    width: 100%;
    font-size: 15px;
    height: 35px;
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 7px;
    padding-left: 10px;
}

.setting-form_input input:focus {
    border: 1px solid rgb(99 102 241);
}

.setting-form_input #oldPassword-icon-check,
.setting-form_input #newPassword-icon-check,
.setting-form_input #confirmPassword-icon-check {
    display: none;
    color: #23ad5c;
}

.setting-form_input #oldPassword-icon-error,
.setting-form_input #newPassword-icon-error,
.setting-form_input #confirmPassword-icon-error {
    display: none;
    color: #ff4757;
}

.card {
    background: #f9f9f9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}