.history .history--title {
    margin-bottom: 3rem;
}

.history .history--title h2 {
    font-size: 25px;
    font-weight: 600;
}

.history .history__card p {
    margin-bottom: unset;
}

.history .card--top {
    padding: 5px 0;
    background-color: #f7f7f7;
    border: 1px solid #f2f1f6;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history .card--top .btn-delete {
    background-color: transparent;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
}

.history .card--top .btn-delete i {
    color: rgba(0, 0, 0, 0.665);
    font-size: 22px;
    transition: all .5s;
}

.history .card--top .btn-delete:hover i {
    color: red;
    font-size: 22px;
}

.history .card--top .top--content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.history .card--top .top--content .maId {
    color: #326e51;
}

.history .card--bottom {
    border: 1px solid #f2f1f6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.history .card--bottom .cb__img {
    width: 120px;
}

.history .card--bottom .cb__img img {
    width: 100%;
}

.history .card--bottom .cb__content .name {
    color: #ff6600;
}

.history .status--cover {
    position: absolute;
    top: 10px;
    right: 10px;
}

.history .status {
    width: 7rem;
    height: 27px;
    background-color: #ff6600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 4px;
}

.spinner-loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-loader .spinner-title {
    font-size: 16px;
    margin: 0 0 0 15px;
}