/************************** HEADER BODY ***********************************/
.body-content {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.text-content {
    position: absolute;
    top: 33%;
    left: 7%;
    z-index: 1;
}

.body-content .text-content .text {
    font-size: 27px;
    color: #2c3350;
}

.body-content .text-content .name {
    color: #2c3350;
    font-size: 75px;
    font-weight: 600;
    margin: -20px 0 0 -3px;
}

.body-content .text-content .job {
    color: #2c3350;
    font-size: 40px;
    margin: 5px 0;
    margin-top: -4px;
    display: flex;
}

.text-content .typing-text {
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #1de2d1;
    animation: typing 5s steps(15) infinite;
}

@keyframes typing {
    0% {
        width: 0ch;
    }

    50% {
        width: 15ch;
    }

    100% {
        width: 0ch;
    }
}

.text-content .job .one {
    color: #1de2d1;
    font-family: 600;
}

.text-content .job .two {
    color: #1de2d1;
    font-family: 600;
}

.buttons {
    margin: 20px 0 0 50px;
}

.buttons button {
    outline: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(135deg, #2AFADF 10%, #C346C2 100%);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    margin: 0 10px;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.buttons button::after,
.buttons button::before {
    content: "";
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
}

.buttons button::after {
    transform: translate3d(-1050%, 0, 0) rotate(35deg);
}

.buttons button:hover::after {
    transition: transform 0.55s ease-in-out;
    transform: translate3d(200%, 0, 0) rotate(35deg);
}

.buttons button::before {
    transform: translate3d(950%, 0, 0) rotate(35deg);
}

.buttons button:not(:hover)::before {
    transition: transform 0.55s ease-in-out;
    transform: translate3d(-310%, 0, 0) rotate(35deg);
}

.body-content .girl img {
    height: 95%;
    bottom: 0;
    right: 0;
    position: absolute;
}

@media screen and (max-width: 1350px) {
    .body-content .text-content .text {
        font-size: 25px;
    }

    .body-content .text-content .name {
        font-size: 60px;
    }

    .body-content .text-content .job {
        font-size: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .body-content .text-content .text {
        font-size: 20px;
    }

    .body-content .text-content .name {
        font-size: 45px;
    }

    .body-content .text-content .job {
        font-size: 30px;
    }

    .text-content {
        left: 3%;
    }
}

@media screen and (max-width: 820px) {
    .body-content {
        background-image: none !important;
    }

    .body-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .body-content .girl img {
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        height: 65%;
        top: 38%;
    }

    .text-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        bottom: 15px;
        top: unset;
        left: unset;
    }

    .buttons {
        margin: unset;
    }
}

@media screen and (max-width: 485px) {
    .body-content .text-content .text {
        font-size: 18px;
    }

    .body-content .text-content .name {
        font-size: 35px;
    }

    .body-content .text-content .job {
        font-size: 22px;
    }

    .text-content {
        gap: 10px;
    }

    .buttons {
        margin: unset;
    }

    .body-content .girl img {
        height: 56%;
    }
}

@media screen and (max-width: 420px) {
    .body-content .girl img {
        height: 52%;
        top: 40%;
    }

    .text-content {
        bottom: 52px;
    }
}
/************************** END HEADER ***********************************/

/************************** PROFESSIONALS ********************************/
.professionals .profess__img {
    width: 100%;
    overflow: hidden;
    margin-left: -50px;
    border-radius: 72px;
}

.professionals .profess__img img {
    width: 100%;
    height: 36rem;
    object-fit: cover;
}

.professionals .pro__item {
    padding-top: 4rem;
    width: 41rem;
}

.profess__headline h4 {
    font-size: 35px;
    font-weight: 400;
    color: #bc74a5;
}

.profess__headline h1 {
    font-size: 55px;
    font-weight: 700;
    color: #104099;
}

.professionals .profess__content .profess__text {
    border-bottom: 1px solid #CCCCCC;
}

.professionals .profess__content p {
    color: #181818;
    line-height: 1.5em;
    line-height: 25px;
    font-size: 14px;
}

.professionals .pro__product .product__title h5 {
    font-size: 28px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #2c3350;
}

.professionals .pro__product .product__members {
    display: flex;
    gap: 10px;
}

.professionals .pro__product .product__members .item--member {
    width: 13rem;
    height: 7rem;
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.professionals .pro__product .product__members .item--member img {
    width: 100%;
}

@media screen and (max-width: 1320px) {
    .professionals .profess__img {
        margin-left: 0;
        border-radius: 0;
    }

    .professionals .pro__item {
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    .profess__headline h1 {
        font-size: 40px !important;
    }

    .profess__headline h4 {
        font-size: 30px;
    }
}
/************************** END PROFESSIONALS ****************************/

/************************** DOCTOR TEAM **********************************/
.doctorTeam {
    margin: 3rem 0;
}

.doctorTeam .doctor__card .card {
    width: 28rem;
    -webkit-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
    -moz-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
    box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
    border: none;
}

.doctorTeam .card-body {
    padding-top: 30px;
    position: relative;
    background-color: #E1E8F0;
}

.doctorTeam .card-body h6 {
    color: #bc74a5;
    font-size: 18px;
}

.doctorTeam .card-body h2 {
    color: #104099;
    font-size: 30px;
    font-weight: 200;
    padding: 10px 0;
}

.doctorTeam .card-body span {
    font-weight: 500;
}

.doctorTeam .card-body p {
    color: #181818;
    font-size: 14px;
}

.doctorTeam .card-social {
    position: absolute;
    bottom: 10px;
}

.card-social .social-link {
    display: inline-block;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    padding-right: 0.5em;
}

.card-social .social-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    width: 40px;
    height: 40px;
}
/************************** END DOCTOR TEAM ******************************/

/************************** LOVE SMILE************************************/
.loveSmile {
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loveSmile .smile--overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fbfcfdc1;
    width: 100%;
    height: 100%;
}

.loveSmile .smile-header {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.loveSmile .progress {
    height: 5px;
}

.loveSmile .bg-color {
    background-color: #bc74a5;
}

.loveSmile .progress__content {
    font-size: 13px;
}

@media screen and (max-width: 1200px) {
    .loveSmile {
        height: 130vh;
    }

    .loveSmile .smile-header {
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
}
/************************** END LOVE SMILE *******************************/

/************************** EXCELLENCE ***********************************/
.excellence {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.excellence .exce__header .btn--view {
    display: flex;
    justify-content: end;
    align-items: center;
}

.excellence .btn--view button {
    outline: none;
    margin: 0 10px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    width: 12rem;
    height: 55px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(135deg, #2AFADF 10%, #C346C2 100%);
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.excellence .btn--view button::after,
.excellence .btn--view button::before {
    content: "";
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
}

.excellence .btn--view button::after {
    transform: translate3d(-1050%, 0, 0) rotate(35deg);
}

.excellence .btn--view button:hover::after {
    transition: transform 0.55s ease-in-out;
    transform: translate3d(200%, 0, 0) rotate(35deg);
}

.excellence .btn--view button::before {
    transform: translate3d(950%, 0, 0) rotate(35deg);
}

.excellence .btn--view button:not(:hover)::before {
    transition: transform 0.55s ease-in-out;
    transform: translate3d(-310%, 0, 0) rotate(35deg);
}

.excellence .exce__item .card__service {
    position: relative;
    color: #fff;
}

.excellence .exce__item .card {
    width: 100%;
    -webkit-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
    -moz-box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
    box-shadow: 4px 4px 10px -1px rgba(118, 183, 243, 1);
    border: none;
}

.excellence .exce__item .card img {
    height: 16rem;
    object-fit: cover;
}

.excellence .exce__item .card__service .card-body {
    background-color: rgba(188, 116, 165, 1);
    height: 16rem;
    padding-top: 4rem;
}

.excellence .exce__item .card__service .card-body h5 {
    font-size: 26px;
}

.excellence .exce__item .card__service .card-body p {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 35px;
}

.excellence .exce__item .card__icon {
    position: absolute;
    left: 30px;
    top: 40%;
}
/************************** END EXCELLENCE *******************************/

/************************** NUMBER SERVICE *******************************/
.number__service {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.number__service .dental__number .number--processes {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 3rem !important;
}

.number__service .dental__number .number__content {
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
    padding: 0 47px;
}

.number__service .dental__number .number__content::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 40%;
    background-color: #bc74a5;
    bottom: -40px;
    left: 30%;
    border-radius: 10px;
}

.number__service .dental__number .number__content::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 40%;
    background-color: #bc74a5;
    top: -40px;
    right: 30%;
    border-radius: 10px;
}

.number__service .dental__number .dental__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.number__service .dental__number .dental__box i:first-child {
    position: absolute;
    left: 2rem;
    top: 5px;
    color: #6a7199;
}

.number__service .dental__number .dental__box i:last-child {
    position: absolute;
    right: 3rem;
    bottom: 15px;
    color: #6a7199;
}

@media screen and (max-width: 1140px) {
    .number__service .dental__number .number__content {
        padding: 0;
        margin: 35px 0;
    }

    .content--firt {
        margin-top: 30px;
    }
}

/* Load animation */
@-webkit-keyframes load {
    0% {
        stroke-dashoffset: 0
    }
}

@-moz-keyframes load {
    0% {
        stroke-dashoffset: 0
    }
}

@keyframes load {
    0% {
        stroke-dashoffset: 0
    }
}

.number__service .processes-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.number__service .progress {
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 200px;
    margin: 20px;
    background-color: #fff;
}

.number__service .progress .title {
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number__service .processes-content .content__title {
    color: #bc74a5;
    font-size: 2.5em;
}

.number__service .progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.number__service .progress .left,
.progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid #0e54ae;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
    background-color: #fff;
}

.number__service .progress .left {
    animation: loadLeft 1s linear forwards;
}

.progress-first .right {
    animation: load1 .8s linear forwards 1s;
}

.progress-second .right {
    animation: load2 .5s linear forwards 1s;
}

.progress-third .right {
    animation: load3 .5s linear forwards 1s;
}

.progress-fourth .right {
    animation: load4 .8s linear forwards 1s;
}

@keyframes loadLeft {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes load1 {
    0% {
        z-index: 100;
        transform: rotate(180deg);
    }

    100% {
        z-index: 100;
        transform: rotate(356deg);
    }
}

@keyframes load2 {
    0% {
        z-index: 100;
        transform: rotate(180deg);
    }

    100% {
        z-index: 100;
        transform: rotate(348deg);
    }
}

@keyframes load3 {
    0% {
        z-index: 100;
        transform: rotate(180deg);
    }

    100% {
        z-index: 100;
        transform: rotate(360deg);
    }
}

@keyframes load4 {
    0% {
        z-index: 100;
        transform: rotate(180deg);
    }

    100% {
        z-index: 100;
        transform: rotate(340deg);
    }
}

.processes-content .cover,
.processes-content .cover--content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/************************** END NUMBER SERVICE ***************************/